{% trans_default_domain 'FOSUserBundle' %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">                            
                            <h1 align="center">Recover Password</h1>
                            <br>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-envelope"></i>
                                    </span>
                                </div>
                                <input type="text" id="username" name="username" required="required" class="form-control">
                            </div>                            
                            <div class="row">
                                <div class="col-6">
                                     <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary"/>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

