{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Datails Province</strong>
            {#            <small>List</small>#}
        </div>      
        <div class="card-body">    
            <h5>Country: {{ country }}</h5>
            <h5>Province: {{ province }}</h5>
            <hr>
            <a class="btn btn-primary" href="{{ path('province_list') }}">Return</a>
        </div>

    </div>    


{% endblock %}