{% extends '@App/base.html.twig' %}

{% block body %}
    <br>
    <div class="panel panel-body">
        <h3>Country: {{ country }}</h3>
        <h3>Province: {{ province }}</h3>
    </div>

    <hr>
    <a class="btn btn-primary" href="{{ path('province_list') }}">Return</a>

{% endblock %}