{% extends '@App/base.html.twig' %}
{% block body %}
    <br>
    <h2 class="page-header">Change Password</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-primary" style="position: relative; top: -56px; left:90px" href="{{ path('users_list') }}">Return</a>
    {{ form_end(form) }}

{% endblock %}